/* Import the fonts we'll use. */
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:700");

body { margin: 0; padding: 0; font-size: 17px; font-family: 'Times New Roman', Arial; color: #121212; background: #fafafa url("../img/paper_texture.png") repeat; }

/* The header container. */
div.site_header { background: #ffffff url('../img/headerback.png') no-repeat fixed top center; background-size: cover; text-align: center; }

/* The site logo inside the header container. */
img.site_logo { margin: 20px 0; }

div.logo { height: 150px; width: 350px; margin: auto; }

div.logo p {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 22px;
    margin-top: 49px;
    float: left;
    color: #060412;
}
div.logo img {
    float: right;
    max-width: 120px;
    margin-top: -10px;
}

img.preview {
    max-width: 300px;
    float: right;
    margin: 5px 15px;
}

div.container {
    max-width: 800px;
    padding: 2px 20px;
    margin: auto;
    width: 90%;
}

div.food_item {
    height: 150px;
    padding: 5px;
}

img.food_image {
    float:left;
    margin-right: 12px;
}

/* Dividers are used instead of hr's */
div.divider { max-width: 700px; width: calc(90% - 100px); border-bottom: 1px solid #a84545; margin: 10px auto; }

/* The footer at the bottom of the page (copyright) */
footer { text-align: center; margin-top: 10px; padding: 4px; color: #723f3f; font-size: 11px; }

/* Menu bar design */
#navbar    { background: #B74D4D; width: auto;                 }
#navbar ul { list-style: none; line-height: 1; display: block; }

/* Make the menu bar to display inline instead displaying each item on individual lines. */
#navbar ul:after { content: " "; font-size: 0; height: 0; visibility: hidden; }
#navbar ul li    { display: inline-block; }

#navbar.align-right ul li { float: right;       }
#navbar.align-center ul   { text-align: center; }

#navbar ul li a { color: #ffffff; text-decoration: none; display: block; padding: 15px 25px; transition: color .25s;
    font-family: 'Alegreya Sans SC', sans-serif; font-weight: 700; font-size: 16px; position: relative; }

/* The change that is done when mouse hover over a menu item. */
#navbar ul li a:hover        { color: #121212; }
#navbar ul li a:hover:before { width: 100%;    }

/* The dots between each menu item. */
#navbar ul li a:after, #navbar ul li a:before { content: ""; display: block; position: absolute; transition: width .25s; }
#navbar ul li a:after  { right: -3px; top: 19px; height: 6px; width: 6px; background: #ffffff; opacity: .5; }
#navbar ul li a:before { left: 0; bottom: 0; height: 3px; width: 0; background: #121212;                    }
/* Disable the dot after the last menu item. */
#navbar ul li.last > a:after, #navbar ul li:last-child > a:after { display: none; }

/* The current page. */
#navbar ul li.active a { color: #121212; }
#navbar ul li.active a:before { width: 100%; }

#navbar.align-right li.last > a:after, #navbar.align-right li:last-child > a:after { display: block; }
#navbar.align-right li:first-child a:after { display: none; }

/* TODO: The mobile version of the menu needs some work. */
/*@media screen and (max-width: 768px) {
  #navbar ul li   { float: none; display: block;                                           }
  #navbar ul li a { width: 100%; box-sizing: border-box; border-bottom: 1px solid #fb998c; }
  #navbar ul li.last > a, #navbar ul li:last-child > a { border: 0; }
  #navbar ul li a:after, #navbar ul li a:before  { display: none; }
}*/
